.list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.loader {
    text-align: center;
}

.addButton {
    position: fixed !important;
    right: 3rem;
    bottom: 3rem;
}
