.generalGrid {
    display: grid;
    grid-template-areas:
            "header"
            "main";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    overflow-y: auto;
    padding: 1rem;
    overflow-x: hidden;
}

.footer {
    grid-area: footer;
}

