.pageGrid {
    display: grid;
    grid-template-areas:
"image image"
"quoteFirst quoteSecond";
    grid-template-rows: auto 1fr;
    grid-auto-rows: 100px 200px;
    height: 100%;
    width: 100%;
    grid-gap: 1rem;
}

.imageContainer {
    grid-area: image;
}

.quoteFirst {
    grid-area: quoteFirst;
}

.quoteSecond {
    grid-area: quoteSecond;
}
