.headerWrapper {
    background: var(--primaryColor);
    padding: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: "root navbar";
    grid-template-columns: 1fr auto;
}

.headerTitle {
    grid-area: root;
    display: flex;
    align-items: center;
}

.headerText {
    color: white;
}

.navbar {
    grid-area: navbar;
}
