.description {
    @util truncate;
}

.linkToSite {
    color: initial;
}

.card {
    width: 15rem;
}

.expandRotated {
    transform: rotateZ(180deg);
}

.extendedDescription {
    @util word-wrap(break-word)
}
